<div class="container-fluid">
    <h2>Lukkede kamper</h2>
    <p>Her ser du dine tidligere kamper og hva du har betta på dem. Klikker du på en spesifikk kamp ser du også de andre
        sine bets.</p>
</div>