<div class="container-fluid">
    <h2>Regler</h2>

    <h3>Innskudd</h3>
    Det koster 250 kr å delta.<br>
    Pengene må være overført innen første kamp kl. 17:00 den 14. juni.


    <h3>Premier</h3>
    Potten er på: 4.500 kr<br>
    1. plass får 45% av potten: 2.025 kr<br>
    2. plass får 25% av potten: 1.125 kr<br>
    3. plass får 15% av potten: 675 kr<br>
    4. plass får 10% av potten: 450 kr<br>
    5. plass får 5% av potten: 225 kr

    <br><br>
    Hvis flere personer får like mange poeng så deles premiepottene for de aktuelle plassene.<br><br>
    <i>Eksempel:</i><br>
    To personer kommer på delt 2. plass.<br>
    Premien for 2. plass er 1.125 kr og 3. plass er 675 kr.<br>
    Begge får da 900 kr.<br><br>

    I sluttspillet tipper man på stillingen etter ordinær spilletid (90 min)<br>


    <h3>Poengsystem</h3>
    Man får 1 poeng ganget med kampverdien for å gjette riktig utfall av kampen (hvem som vinner eller
    uavgjort).<br><br>
    <i>Eksempel:</i><br>
    Kampverdien er 1,5 og du tipper at det blir 2-1, men resultatet blir 1-0<br>
    Da får du 1 * 1,5 = 1,5 poeng<br><br>

    Man får 3 poeng ganget med kampverdien for å gjette eksakt resultat<br>
    Maks poengfangst pr kamp oppnår man ved å tippe riktig resultat. Man vil i slike tilfeller ikke få poeng for både
    riktig utfall og resultat.


    <h3>Tidsfrister</h3>
    Du kan bette helt frem til kampstart. Bets sendt inn etter kampstart blir ikke lagret.

    <h3>Kampverdier</h3>

    <b>Fase 1:</b> Gruppespill 1. og 2. runde (14-24. juni)<br>
    Kampverdien er 1. Maksimal poengfangst er 48 poeng.<br><br>

    <b>Fase 2:</b> Gruppespill 3. runde (25-28. juni)<br>
    Nå begynner det å dra seg til! Hvem går videre til sluttspillet?<br>
    Kampverdien økes til 1,25. Maksimal poengfangst denne runden er 60 poeng.<br><br>

    <b>Fase 3:</b> Åttendedelsfinaler (30-03. juli)<br>
    Sluttspillet er i gang og nervene er i høyspenn!<br>
    Kampverdien økes til 2. Maksimal poengfangst denne runden er 48 poeng.<br><br>

    <b>Fase 4:</b> Kvartfinaler (06-07. juli)<br>
    Hvilke land er sensasjonelt med videre, og hvilke stormakter har snublet? Nå kan alt skje!<br>
    Kampverdien økes til 2,5. Maksimal poengfangst denne runden er 30 poeng.<br><br>

    <b>Fase 5:</b> Semifinaler (10-11. juli)<br>
    Nå er det bare fire lag igjen! Hvem går til finalen og hvem må kjempe om bronse?<br>
    Kampverdien økes til 3.Maksimal poengfangst denne runden er 18 poeng.<br><br>

    <b>Fase 6:</b> Finale og Bronsefinale (14-15. juli)<br>
    Det hele skal avgjøres! Hvem kan løfte pokalen og hvem må reise hjem uten medalje?<br>
    Kampverdien økes til 4,5. Maksimal poengfangst denne runden er 27 poeng.<br><br>


</div>
