<div class="container-fluid">
    <h2>Regler</h2>

    <h3>Premier</h3>
    Innskudd TBD

    <h3>Premier</h3>
    Potten er på: TBD kr<br>
    1. plass får 50% av potten: 800 kr<br>
    2. plass får 25% av potten: 400 kr<br>
    3. plass får 15% av potten: 240 kr<br>
    4. plass får 5%  av potten:   80 kr<br>
    5. plass får 5% av potten: 80 kr<br>

    <br><br>
    Hvis to av de øverste 5 får like mange poeng så deles plassene de endte på.<br>
    F.eks. hvis 1. plass er 1000kr og 2. plass er 500kr så får begge 750kr<br>


    I sluttspillet tipper man på stillingen etter ordinær spilletid (90 min)<br>

    <h3>Poeng</h3><
    Man får 1 poeng ganget med kampverdien for å gjette riktig utfall av kampen (hvem som vinner eller uavgjort)<br>
    f.eks. hvis du tipper at det blir 2-1 men resultatet blir 1-0 og kampverdien er 1,5 får du: 1 * 1,5 = 1,5 poeng<br>

    Man får 3 poeng ganget med kampverdien for å gjette eksakt resultat<br>
    Maks poengfangst pr kamp oppnår man ved å tippe riktig resultat. Man vil i slike tilfeller ikke få poeng for både riktig utfall og resultat.


    <h3>Tidsfrister</h3>
    Du kan bette helt frem til kampstart. Bets sendt inn etter kampstart blir ikke lagret.

    Kampverdier:
    ROUND1 = 1 (maks 48p)
    ROUND2 = 1 (maks 48p)
    ROUND3 = 1,5 (maks 72p)
    8 = 2 (maks 48p)
    QUARTER = 3 (maks 36p)
    SEMI = 4,5 (maks 27p)
    FINAL = 6 (maks 36p)

    Gruppespill: 168
    Sluttspill: 147
    Totalt: 315

    <h3>Fase 1 - gruppespill:</h3>
    Du vil åpenbart ikke få poeng for de kampene som allerede er spilt når du legger inn dine resultater
    Du må legge inn resultater for hele gruppespillet i fase 1
    Kampverdien er 1. Altså får du 1 poeng for riktig utfall og 3 poeng for riktig resultat

    <h3>Fase 2 - åttendedelsfinaler:</h3>
    For å godkjennes må resultatene dine sendes inn i tidsrommet: 26 Juni 2010, 00:00 til 26 Juni 2010, 15:00
    Kampverdien er 1,25. Altså får du 1,25 poeng for riktig utfall og 3,75 poeng for riktig resultat

    <h3>Fase 3 - kvartfinaler:</h3>
    Kampverdien er 1,50. Altså får du 1,50 poeng for riktig utfall og 4,50 poeng for riktig resultat

    <h3>Fase 4 - semifinaler:</h3>
    Kampverdien er 2. Altså får du 2 poeng for riktig utfall og 6 poeng for riktig resultat

    <h3>Fase 5 - finaler:</h3>
    Kampverdien er 2,50. Altså får du 2,50 poeng for riktig utfall og 7,50 poeng for riktig resultat
</div>

