<div class="container-fluid">
    <h2>Regler</h2>

    <h3>Innskudd</h3>
    Det koster 250 kr å delta.<br>
    Pengene må være overført innen første kamp kl. TBA


    <h3>Premier</h3>
    Potten er på: TBA

    <br><br>
    Hvis flere personer får like mange poeng så deles premiepottene for de aktuelle plassene.<br><br>
    <i>Eksempel:</i><br>
    To personer kommer på delt 2. plass.<br>
    Premien for 2. plass er 1.125 kr og 3. plass er 675 kr.<br>
    Begge får da 900 kr.<br><br>

    I sluttspillet tipper man på stillingen etter ordinær spilletid (90 min)<br>


    <h3>Poengsystem</h3>
    Man får 1 poeng ganget med kampverdien for å gjette riktig utfall av kampen (hvem som vinner eller
    uavgjort).<br><br>
    <i>Eksempel:</i><br>
    Kampverdien er 1,5 og du tipper at det blir 2-1, men resultatet blir 1-0<br>
    Da får du 1 * 1,5 = 1,5 poeng<br><br>

   TBA riktig resultat pott


    <h3>Tidsfrister</h3>
    Du kan bette helt frem til kampstart. Bets sendt inn etter kampstart blir ikke lagret.

    <h3>Kampverdier</h3>

    <b>Fase 1:</b> Gruppespill 1. og 2. runde<br>
    Kampverdien er 1. Maksimal poengfangst er TBA poeng.<br><br>

    <b>Fase 2:</b> Gruppespill 3. runde <br>
    Nå begynner det å dra seg til! Hvem går videre til sluttspillet?<br>
    Kampverdien økes til TBA. Maksimal poengfangst denne runden er TBA poeng.<br><br>

    <b>Fase 3:</b> Åttendedelsfinaler<br>
    Sluttspillet er i gang og nervene er i høyspenn!<br>
    Kampverdien økes til TBA<br><br>

    <b>Fase 4:</b> Kvartfinaler <br>
    Hvilke land er sensasjonelt med videre, og hvilke stormakter har snublet? Nå kan alt skje!<br>
    Kampverdien økes til TBA<br><br>

    <b>Fase 5:</b> Semifinaler (10-11. juli)<br>
    Nå er det bare fire lag igjen! Hvem går til finalen og hvem må kjempe om bronse?<br>
    Kampverdien økes til TBA. Maksimal poengfangst denne runden er TBA poeng.<br><br>

    <b>Fase 6:</b> Finale og Bronsefinale<br>
    Det hele skal avgjøres! Hvem kan løfte pokalen og hvem må reise hjem uten medalje?<br>
    Kampverdien økes til TBA. Maksimal poengfangst denne runden er TBA poeng.<br><br>


</div>
