body {
    padding-top: 65px;
}

.resultInput {
    width: 45px;
    text-align: center;
    border: thin black solid;
}

.match-container {
    width: 90%;
    max-width: 400px;
    margin: 10px;
}

.match-container input {
    float: right;
}

.container-fluid {
    padding-top: 15px
}